<navigation-bar>
  <ul class="log-menu">
    <div find-summoners></div>
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items'%>
  </ul>
</navigation-bar>

<home-index></home-index>
<div class="container">
  <div app-view-segment="0"></div>
</div>

<footer>© Copyright 2016 Invocadores.Net<br><a href="https://www.facebook.com/EthanERivas">Sr Desmadre</a></footer>
